{% extends "template.twig" %}

{% block title %}Tableau de bord{%  endblock %}

{% block title_content %}Tableau de Bord{% endblock %}


{% block content %}

        <div >Cher visiteur, veuillez nous excuser. Le contenu de cette page est en cours de développement. </div>

{% endblock %}
